/* Tabs styles */
.tabs-container {
  display: flex;
  background-color: #f4f4f5;
  padding: 0.25rem;
  border-radius: 6px;
  color: rgb(113, 113, 122);
}

.tab-button:hover {
  color: rgb(9, 9, 11);
}

.tab-button.active {
  color: rgb(9, 9, 11);
  /* border-bottom-color: #3b82f6; */
  background-color: white;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.tabs-container .tab-button {
  min-width: 100px;
  padding: 0.3rem 0.875rem;
}

/* Tab content styles */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.main-tab-content {
  display: none;
}

.main-tab-content.active {
  display: block;
}

.tab-button {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
  transition: all 0.3s ease;
  border-radius: 0.375rem;
  /* margin-right: 0.5rem; */
}

.tabs {
  display: flex;
  border-bottom: 1px solid #d1d5db;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab.active {
  border-bottom-color: #3b82f6;
  font-weight: bold;
}